<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS Links-->
    <!-- <link rel="stylesheet" href="/public/css/styles.css"> -->
    <link rel="stylesheet" href="../css/styles.css">

    <!--Google fonts-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;800&family=Karla&display=swap');
    </style> 
    <title>LLC - Reinsdyr DB</title>
</head>
<body>